@import url('./animation.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 800px;
}

@media screen and (max-width: 800px) {
  #container {
    width: 100%;
  }
}
